<%- include('partials/header'); %>
<h1>About</h1>
<h2>Hi Folks!</h2>
<h3>Welcome to our Project Website!</h3>
<h3>We are Glad to let you know that this is our first Project-oriented Website!</h3>
<p>India is an agricultural
powerhouse and agriculture contributes around 18% to the total GDP. Around 15-25%
of the potential agricultural produce is annually wasted due to pests, diseases, and
weeds.</p>
<p>Lack of accurate and timely information makes it difficult for our farmers to avert crop
diseases thereby leading to their crops being destroyed. Therefore we came up with a
solution by making a practical application/website which can act as a single resource for
all the information related to the spread and prevention of diseases. We also aim to
implement a map-based graphical tracker in the website to relay real-time information
about the spread of such diseases.</p>
<p>On the website, we are also planning to include an ML-based feature to identify
diseases by images clicked by the user. There are a lot of freely available large datasets
related to such diseases, made available on a large scale by organizations such as
FAO. We will also include some basic FAQs on our website which help clear the basic
queries of the users. We also plan to make a community section on our website, which
will allow users to sign up using a local account or their Google account. This will help
the users connect with each other and help the whole community with queries, and also
it would be very helpful in containing the spread of many insects and pest-based
diseases.</p>
<%- include('partials/footer'); %>
