<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>DEP</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="images/Screenshot_1.png" type="image/x-icon">
</head>

<body>
  <!-- partial:index.partial.html -->
  <nav class="nav navbar-expand-lg fixed-top shift">
    <div class="container">
      <div class="logo">
        <a href="/"><img src="images/Screenshot_1.png"></a>
      </div>
      <div id="mainListDiv" class="main_list">
        <ul class="navlinks">
          <li><a href="https://agile-anchorage-70558.herokuapp.com/">Classifier</a></li>
          <li><a href="/community">Community</a></li>
          <li><a href="/community/about">About Us</a></li>
          <li>
              <a id="profile" href="/profile/<%=username%>"><img src="images/avatar.png" width="45px" height="45px" ></a>
          </li>
        </ul>
        
      </div>
      
      <span class="navTrigger">
        <i></i>
        <i></i>
        <i></i>
      </span>
    </div>
  </nav>
  <div id="slide_bg">

  </div>
  <div id="main_body" style="height: 1000px">
    <!-- just to make scrolling effect possible -->
    <h1 class="myHeader">Plant Disease</h1>
    <p class="myP">Plant disease, an impairment of the normal state of a plant that interrupts or modifies its vital functions. All species of plants, wild and cultivated alike, are subject to disease. Although each species is susceptible to characteristic diseases, these are, in each case, relatively few in number. The occurrence and prevalence of plant diseases vary from season to season, depending on the presence of the pathogen, environmental conditions, and the crops and varieties grown. Some plant varieties are particularly subject to outbreaks of diseases while others are more resistant to them. See also list of plant diseases.</p>
    <h2 class="myHeader">Diseases—a normal part of nature</h2>
    <p class="myP">Plant diseases are a normal part of nature and one of many ecological factors that help keep the hundreds of thousands of living plants and animals in balance with one another. Plant cells contain special signaling pathways that enhance their defenses against insects, animals, and pathogens. One such example involves a plant hormone called jasmonate (jasmonic acid). In the absence of harmful stimuli, jasmonate binds to special proteins, called JAZ proteins, to regulate plant growth, pollen production, and other processes. In the presence of harmful stimuli, however, jasmonate switches its signaling pathways, shifting instead to directing processes involved in boosting plant defense. Genes that produce jasmonate and JAZ proteins represent potential targets for genetic engineering to produce plant varieties with increased resistance to disease.</p>
    <p class="myP">Many valuable crop and ornamental plants are very susceptible to disease and would have difficulty surviving in nature without human intervention. Cultivated plants are often more susceptible to disease than are their wild relatives. This is because large numbers of the same species or variety, having a uniform genetic background, are grown close together, sometimes over many thousands of square kilometres. A pathogen may spread rapidly under these conditions.</p>
    <h2 class="myHeader">Disease development and transmission</h2>
    <p class="myP">Pathogenesis is the stage of disease in which the pathogen is in intimate association with living host tissue. Three fairly distinct stages are involved:</p>
      <ul class="myul">
        <li>Inoculation: transfer of the pathogen to the infection court, or area in which invasion of the plant occurs (the infection court may be the unbroken plant surface, a variety of wounds, or natural openings—e.g., stomata [microscopic pores in leaf surfaces], hydathodes [stomata-like openings that secrete water], or lenticels [small openings in tree bark])</li>
          <li>Incubation: the period of time between the arrival of the pathogen in the infection court and the appearance of symptoms</li>
          <li>Infection: the appearance of disease symptoms accompanied by the establishment and spread of the pathogen.
        </li>
      </ul>
      <p class="myP">One of the important characteristics of pathogenic organisms, in terms of their ability to infect, is virulence. Many different properties of a pathogen contribute to its ability to spread through and to destroy the tissue. Among these virulence factors are toxins that kill cells, enzymes that destroy cell walls, extracellular polysaccharides that block the passage of fluid through the plant system, and substances that interfere with normal cell growth. Not all pathogenic species are equal in virulence—that is, they do not produce the same amounts of the substances that contribute to the invasion and destruction of plant tissue. Also, not all virulence factors are operative in a particular disease. For example, toxins that kill cells are important in necrotic diseases, and enzymes that destroy cell walls play a significant role in soft rot diseases.</p>
<p class="myP">Saprogenesis is the part of the pathogen's life cycle when it is not in vital association with living host tissue and either continues to grow in dead host tissue or becomes dormant. During this stage, some fungi produce their sexual fruiting bodies; the apple scab (Venturia inaequalis), for example, produces perithecia, flask-shaped spore-producing structures, in fallen apple leaves. Other fungi produce compact resting bodies, such as the sclerotia formed by certain root- and stem-rotting fungi (Rhizoctonia solani and Sclerotinia sclerotiorum) or the ergot fungus (Claviceps purpurea). These resting bodies, which are resistant to extremes in temperature and moisture, enable the pathogen to survive for months or years in soil and plant debris in the absence of a living host.</p>
  </div>


  <!-- Jquery needed -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="navbar.js"></script>

</body>

</html>
