<%- include('partials/headerStart') %>

<div class="container">
  <div class="container-wrapper">

      <h3 class="login-text"><i class="bi bi-person-circle ac-logo"></i>Login</h3>
  
      <form action="/login" method="post">
          <div class="item"><input class="input" type="text" placeholder="username" name="username"></div> 
          <div class="item"><input class="input" type="password" placeholder="password" name="password"> </div>
          <!-- <span class="remember"> <a href="#">Forgot Password?</a> </span> -->

          <div class="item submit"><button type="submit">Submit</button></div>
      </form>
      <h2><span>OR</span></h2>
   
      <!-- <div class="social-media">

          <a href="#"><div class="icons8-google social-mediaImg"></div></a>  -->
          <!-- <a href="#"><div class="icons8-facebook-circled social-mediaImg"></div></a> 
          <a href="#"><div class="icons8-twitter social-mediaImg"></div></a>  -->

      <!-- </div> -->
      <span class="ac">Don't have an Account? <a href="/register">Sign Up</a></span>
  </div>

</div>

<%- include('partials/footer') %>
