
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Community Page</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/community.css">
</head>

<body>
  <div id="navbar" class="container">
    <nav class="nav navbar-expand-lg fixed-top shift navbar-left affix">
      <div class="container">
        <div class="logo">
          <a href="/"><img src="/images/Screenshot_1.png"></a>
        </div>
        <div id="mainListDivComm" class="main_list navbar-right">
          <ul class="navlinks">
            <li id="about"><a href="/logout">Signout</a></li>
          </ul>
        </div>
        <span class="navTrigger">
          <i></i>
        </span>
      </div>
    </nav>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <div id="main_articles" class="container">

